docs/uzbek_Transliteration_printscreen_resized2.png
docs/uzbek_Transliteration_printscreen.png
docs/uzbek_Transliteration_printscreen2.png
docs/uzbek_Transliteration_printscreen3.png
docs/uzbek_Transliteration_printscreen_resized.png
docs/uzbek_Transliteration_printscreen_resized3.png
